{% extends "base.html" %} {% block title %} About LetsColearn {% endblock title %}
{% block content %}
<!-- Add header -->
{% include "header.html" %}
<!-- end header -->
<!-- Adding blogs content -->
<section>
  <div class="about">
    <ul>
      <li>
        LetsColearn is a colearning website that allows users to create special learning spaces and
        post their knowledge, share their thoughts with the commnuity who are joined the specific colearning space.
        We provide a platform to writers of all domain to freely express their views and content publicly
        without the fear of being judged.
      </li>
      <li>
        Blogs of all fields including technical, health & fitness, recipes,
        sports, travelling, corporate sector are welcome to become a part of our
        website.
      </li>
      <br><br><br>
      <li>Hurry up and seek the opportunity to get featured on our page !!</li>
      <br><br><br>
    </ul>
  </div>
</section>
<!-- Ending blogs content -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% endblock content %}
