{% extends "base.html" %} {% block title %} Frequently Asked Questions About LetsColearn {% endblock title %}
{% block content %}
<!-- Add header -->
{% include "header.html" %}
<!-- end header -->
<!-- Adding blogs content -->
<section>
  <div class="about">
    <ul>
      <li>
        1. Is it free to signup and collaborate?<br>
           Yes, it is totally free.
      </li>
      <li>
        2. Is there a moderation for contents?<br>
           No, there is no moderation inside our platform, contents are being moderated by the reaction of other users. 
           So there is an organic evaluation period of related content by the community of this platform.
      </li>
      <li>
        3. Is a protection for GDPR?<br>
           Yes, we are responsible for your individual information, but contents are totally public, so every 
           user is responsible from the content that he/she shared.
      </li>
      <br><br><br>
      <li>
        4. Is it free to join any space without approval?<br>
           Yes, you can directly join any colearning space and start contributing and learning, 
           you are totally free to ask any question and share any post under any colearning space.
      </li>
      <br>
    </ul>
  </div>
</section>
<!-- Ending blogs content -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% endblock content %}
