{% extends "base.html" %} {% block title %} LetsColearn {% endblock title %} 
{% block content %} {% include "header.html" %} {% include "description.html" %}

<div class="blogs">
  <article class="blog">
    <h4 class="title">CoLearn Spaces You Created</h4>
    {% for course in course_list %}
      <article class="blog">
        {% if course.author == user %}
        <h3 class="title">{{ course.title }}</h3>
        <p class="author">{{ course.author }} | {{ course.created_on }}</p>
        <div>
          <a href="{% url "course-update" course.slug %}" class="button">UPDATE &rarr;</a>  <a href="{% url 'course_detail' course.slug %}" class="button">Goto Space &rarr;</a>
        </div>
        {% endif %}
      </article>
    {% endfor %}
  </article>

  <article class="blog">
    <h4 class="title">CoLearn Spaces You Joined</h4>
    {% for course in course_list %}
      {% if course.author != user %}
        {% if not course_in_favorites %}
          <article class="blog">
            <h3 class="title">{{ course.title }}</h3>
            <p class="author">{{ course.author }} | {{ course.created_on }}</p>
            <a href="{% url 'course_detail' course.slug %}" class="button">Goto Space &rarr;</a>
        {% endif %}
          </article>
      {% endif %}
    {% endfor %}
  </article>
</div>
{% endblock %}
