<header>
  <h1><a href="/">LetsColearn</a></h1>

  <div class="form-group has-search">
    <form action="/search" method="get">
      <div style="text-align: right">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          name="query"
          id="query"
        />
      </div>
    </form>
  </div>

  <nav>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'favorites' %}" id="fav">ColearnSpaces</a></li>
      <li><a href="{% url 'create_course' %}">CreateSpace</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'faq' %}">FAQs</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'create_course' %}">CreateSpace</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'faq' %}">FAQs</a></li>
      <li><a href="{% url 'signup' %}">Signup</a></li>
      {% endif %}

    </ul>
  </nav>
</header>
